@charset "UTF-8";

@font-face {
    font-family:titulos;
    src: url(../fontes/ecolier/ecolier.rtf);
}
@font-face {
    font-family:corpo;
    src: url(../fontes/Heavitas.ttf);
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    background: url(../imgs/header.jpg) no-repeat center;
    background-size: cover;
    height: 20vh;}
main{
    background-color: lime;
}