@charset "UTF-8";

@font-face {
    font-family: titulos;
    src: url(../fontes/1/AppleGaramond-Bold.ttf);
}

@font-face {
    font-family: corpo;
    src: url(../fontes/2/Butler_Black.otf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #f42e17;
    height: 18vh;
}

header img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #780606e0;
    color: white;
    padding: 15px;
}

main h2 {
    font-family: titulos;
    font-size: 2em;
    text-align: center;
}

main p {
    font-family: corpo;
    font-size: 1.5em;
    text-align: justify;
}

.conteudo {
    padding: 40px;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.412);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.686);
}

#img1 {
    padding: 40px;
    background-image: url(../imgs/Imagem\ do\ WhatsApp\ de\ 2025-10-28\ à\(s\)\ 21.10.14_88c9617b.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}