@charset "UTF-8";

@font-face {
    font-family: titulos;
    src: url(../fontes/1/AppleGaramond-Bold.ttf);
}

@font-face {
    font-family: corpo;
    src: url(../fontes/2/Butler_Black.otf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #f42e17;
    height: 18vh;
}

header img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #d62110;
    font-family: corpo;
}

main section.text1 {
    padding: 20px;
    display: flex;
    text-align: center;
}

.faixa {
    background-color: #f6ff00;
    text-align: center;
}